body {
    padding-bottom: 80px;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 8px;
}
form{
    border: none;
    border-radius: 0px;
    padding: 1.5em;
}
.form-label.capitalize {
    text-transform: capitalize;
}
.checkbox-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkbox-group .form-label {
    width: 50%;
}
input[type=submit],
.btn-link {
    margin-top: 20px;
}
.screener-tab_is_disabled {
    background-color:#EAECEE;
}
.screener-tab_is_enabled {
    background-color:#D4EFDF;
}
.screener-tab_is_unsatisfied {
    background-color:#F5B7B1;
}

.react-tabs__tab--selected {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
    border-radius:0px;
    border:none;
}

.react-tabs__tab {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 3px;
}

.react-tabs__tab-list {
    border-bottom:none;
}
.enabled_screener_form_container {
    background-color: #EAFAF1;
    box-shadow: 2px 2px 10px #D4EFDF;
}

.disabled_screener_form_container {
    background-color: #F8F9F9;
    box-shadow: 2px 2px 10px #EAECEE;
}

.unsatisfied_screener_form_container {
    background-color: #FDEDEC;
    box-shadow: 2px 2px 10px #EAECEE;
}

.screener_header {
    margin-top: 1rem;
}

#submit_button {
    color: #000;
    background-color: #EBF5FB;
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
}

#submit_button:hover {
    color: #FFF;
    background-color: #1B4F72;
}

#submit_button:active {
    color: #000;
    background-color: #EBF5FB;
}

.validation-error {
    color: #F5B7B1;
    padding: .5rem .8rem;
}